/* 폰트 관련된 모든것 적용 */

@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Karantina', cursive; */
*{
  font-family: 'Inter', sans-serif;
}

header {
  font-size: 12px;
  font-weight: 900;
  color: white;
}

nav, article > div {
  font-size: 12px;
  font-weight: 400;
}

article:nth-child(1) > ul {
  font-size: 96px;
  font-weight: 700;
}

.color-blue {
  color:#2196F3;
}

article:nth-child(2) > ul {
  color: #FFFFFF;
}

article:nth-child(2) > ul > li{
  font-family:'Karantina', cursive;
  font-size: 128px;
  font-weight: 400;
}

footer > ul {
  font-size: 8px;
  font-weight: 400;
}
